body {
    
    background-color: burlywood;
    color: black;
    font-family: 'algeria', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: darkblue orchid;
    color: azure;
    padding: 10px;
    
}
header > h1 {
    letter-spacing: 5px;
}
article > h4 {
    background-color: aqua;
    color: crimson;
    font-weight: 900;
    padding: 10px
    
}
article{
    
    border: thin black solid;
    padding: 20px,10px;
    margin: 50px;
}


footer {
    background-color: #A5B7C5;
    padding: 5px 10px;
}